.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
tests/main.exe
data/
build/
to_compress/
lib/
tools/table-generator/table-generator.exe
.vscode/launch.json
tools/bin2s/bin2s.exe
